/* 
Primary Heading Color:     background: linear-gradient(155deg, #000000 0%, #161616f2 80%,#000 100%);
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  font-family: "Rubik", sans-serif;
  font-weight: 200;
   font-family: 'Playfair Display', serif;
font-family:"BBH Bartle", sans-serif;
*/


@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Common static cuts in case variable fonts are unsupported */
@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/static/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/font/Inter/static/Inter_18pt-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Common static cuts in case Rubik variable fonts are unsupported */
@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik/static/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik/static/Rubik-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik/static/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./assets/font/Rubik/static/Rubik-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BBH Bartle";
  src: url("./assets/font/BBHBartle-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/font/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/font/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/font/Playfair_Display/static/PlayfairDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}



body {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
}

.heading{
 font-family: 'Playfair Display', serif;
  font-weight: 500;        
  letter-spacing: -0.5px;   
  word-spacing: 0px;        
  color: #ffffff;
}

.headingColor {
  background: linear-gradient(135deg, #000000 -20%, #e7dfdf 98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}